/* Style tab links */
.tablink {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 0px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #003cb3;
  color: #fff;
  float: left;
  outline: none;
  cursor: pointer;
  /*padding: 14px 16px;*/
  font-size: 14px;
  z-index: 2;
  height: 30px;
}

/* Style the tab content (and add height:100% for full page content) */
.tab-container {
    color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    margin-top: 30px;
    width: 100%;
    z-index: 3;
    /*background-color: #eff;*/
    height: 220px;;
}

.tab-content {
    position: relative;
    color: black;
    margin: 10px 0px 5px 5px;
    width: 200px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.left-tab-container {
    color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    margin-top: 30px;
    width: 100%;
    z-index: 3;
    /*background-color: #eff;*/
    height: 220px;
}

.left-tab-content {
    position: relative;
    color: #000;
    margin: 10px 0px 5px 5px;
    width: 200px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
}